.investigator {
    margin: 20px;
}

.investigator-wrapper {
    max-width: 600px;
    display: flex;
    background-color: black;
    flex-flow: row wrap;
}

.investigator-profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.investigator-name {    
    font-size: calc(8px + 2vmin);
}

.investigator-class{
    align-self: flex-end;
}

.investigator-skill {    
    align-self: center;
    display: flex;
}

.investigator-skill span {    
    font-size: calc(4px + 2vmin);
    padding-right: 3px;
}

.investigator-picture {
    flex: 1 0 0;
}

.investigator-stats {
    flex: 2 0 0;
}